.App {
  text-align: center;
}

body {
  margin: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header{
  min-height: 10vh;
}
footer {
  /* color: red; */
  text-align: center;
  background-color: #188754;
  color: white;
  padding: 0.5em 0 0.5em;
  margin-top: 10px;
}

footer > p {
  margin-bottom: 0;
}
.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.not-found img {
  max-width: 700px;
  margin-bottom: 2em;
}

.page {
  min-height: 81vh;
}

.brilliance, .hardness {
  margin-bottom: 2px;
}

.page h3{
  margin-top: 3rem;
  font-family: 'Rock Salt', cursive;
  margin-bottom: 2rem;
}

.progress {
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  div.card-group {
    flex-wrap: wrap;
    gap: 10px;
  }
}

div.card-group {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

}

div.card {
  min-width: 300px;
  max-width: 300px;
  border: #188754 2px solid;
  text-align: center;
}

div.card-body {
  max-width: 290px;
}

@media (min-width: 576px) {
  div.card-group>.card+.card {
    margin-left: 0; 
    border-left: #188754 2px solid;
  }
}

.index-button-link {
  color: white;
  text-decoration: none;
}

.index-button-link:hover {
  color: white;
  text-decoration: none;
}

.box{
  max-width: 400px;
  margin: 0 auto;
  background-color: #ddd;
  padding: 3rem;
  border-radius: 25px;
}

.box a{
  margin: 0 auto;
  max-width: max-content;
  display: block;

}

.box a+a{
  margin-top: 1rem;
}

.tinder-brand{
  max-width: 150px;
}

.tinder-brand img{
  max-width: 100%;
  border-radius: 15px;
}

.frame{
  display: flex;
  justify-content: center;
}

.errored{
  color: red;
}